canvas {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

@media (min-width: 992px) {

    canvas {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
    }
}