:root {

  /* Primary Colors */
  --color-primary: #2563eb;
  --color-primary-light: #60a5fa;
  --color-primary-dark: #1d4ed8;

  /* Secondary Colors */
  --color-secondary: #7c3aed;
  --color-secondary-light: #a78bfa;
  --color-secondary-dark: #5b21b6;

  /* Neutral Colors */
  --white: #ffffff;
  --black: #0F172A;

  /* Gray Scale */
  --color-gray-50: #f9fafb;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #d1d5db;
  --color-gray-400: #9ca3af;
  --color-gray-500: #6b7280;
  --color-gray-600: #4b5563;
  --color-gray-700: #374151;
  --color-gray-800: #1f2937;
  --color-gray-900: #111827;

  /* Status Colors */
  --color-success: #16a34a;
  --color-warning: #f59e0b;
  --color-danger: #dc2626;
  --color-info: #0ea5e9;

  /* Background Colors */
  --color-bg: #ffffff;
  --color-bg-secondary: #f3f4f6;

  /* Text Colors */
  --color-text: #111827;
  --color-text-light: #6b7280;
  --color-heading: #000000;

  /* Border */
  --color-border: #e5e7eb;
}

.bg-navy{
  background-color: #0F172A;
}
.text-white{
  color: var(--white);
}