@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Grotesk:wght@300..700&display=swap');

body {
    margin: 0;
    font-family: "Rubik", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Space Grotesk", sans-serif;
    margin: 0;
}

h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    letter-spacing: -0.04em;
    color: var(--black);

    @media (min-width:992px) {
        font-size: 56px;
    }
}

h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    letter-spacing: -0.04em;
    color: var(--black);

    @media (min-width:992px) {
        font-size: 36px;
    }
}



.gradient-text {
    background:
        linear-gradient(90deg,
            #60A5FA 0%,
            #2563EB 50%,
            #1D4ED8 100%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    background-clip: text;
    color: transparent;
}

/* =========================================
   Text Align Responsive
========================================= */

/* XS */

.text-start {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-end {
    text-align: right;
}

/* SM */

@media (min-width:576px) {

    .text-sm-start {
        text-align: left;
    }

    .text-sm-center {
        text-align: center;
    }

    .text-sm-end {
        text-align: right;
    }

}

/* MD */

@media (min-width:768px) {

    .text-md-start {
        text-align: left;
    }

    .text-md-center {
        text-align: center;
    }

    .text-md-end {
        text-align: right;
    }

}

/* LG */

@media (min-width:992px) {

    .text-lg-start {
        text-align: left;
    }

    .text-lg-center {
        text-align: center;
    }

    .text-lg-end {
        text-align: right;
    }

}

/* XL */

@media (min-width:1200px) {

    .text-xl-start {
        text-align: left;
    }

    .text-xl-center {
        text-align: center;
    }

    .text-xl-end {
        text-align: right;
    }

}